body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    "Helvetica Neue", "Open Sans", system-ui, sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji";
}

.elements-container {
  display: grid;
  grid-template-columns: 80px 200px;
  justify-content: center;
  align-items: center;
  gap: 2em 3em;
}

.checkboxes-container,
.radios-container {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.checkbox-container {
  position: relative;
  width: 1em;
  height: 1em;
}

.checkbox-input {
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  cursor: pointer;
}

.checkbox {
  position: relative;
  border-radius: 0.125em;
  width: 100%;
  height: 100%;
  box-shadow: inset 0 0 0 1px #ebebf5;

  .checkbox-input:checked + & {
    border-color: transparent;
  }

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    border-radius: inherit;
    width: 100%;
    height: 100%;
    background-color: #5371f4;
    background-image: url("https://assets.codepen.io/4175254/terrazzo-blue.svg");
    background-size: 60px;
    opacity: 0;
    box-shadow: (
      inset 0 2px 2px rgb(255 255 255 / 0.4),
      inset 0 -2px 1px rgb(0 0 0 / 0.1),
      0 1px 2px rgb(0 0 0 / 0.2),
      0 2px 4px rgb(0 0 0 / 0.1)
    );
    transition-property: opacity;
    transition-duration: 0.2s;

    @at-root .checkbox-input:checked + & {
      opacity: 1;
    }
  }
}

.checkbox-icon {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 0.75em;
  height: 0.75em;
  transform: translate(-50%, -50%) scale(0);
  fill: #fff;
  opacity: 0;
  filter: drop-shadow(0 1px 1px rgb(0 0 0 / 0.2));
  transition-property: transform, opacity;
  transition-duration: 0.2s;

  .checkbox-input:checked + .checkbox > & {
    transform: translate(-50%, -50%) scale(1);
    opacity: 1;
  }
}

.radio-container {
  position: relative;
  width: 1em;
  height: 1em;
}

.radio-input {
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  cursor: pointer;
}

.radio {
  position: relative;
  border-radius: 50%;
  width: 100%;
  height: 100%;
  box-shadow: inset 0 0 0 1px #ebebf5;

  .radio-input:checked + & {
    border-color: transparent;
  }

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    border-radius: inherit;
    width: 100%;
    height: 100%;
    background-color: #5371f4;
    background-image: url("https://assets.codepen.io/4175254/terrazzo-blue.svg");
    background-size: 60px;
    opacity: 0;
    box-shadow: (
      inset 0 2px 2px rgb(255 255 255 / 0.4),
      inset 0 -2px 1px rgb(0 0 0 / 0.1),
      0 1px 2px rgb(0 0 0 / 0.2),
      0 2px 4px rgb(0 0 0 / 0.1)
    );
    transition-property: opacity;
    transition-duration: 0.2s;

    @at-root .radio-input:checked + & {
      opacity: 1;
    }
  }
}

.radio-dot {
  position: absolute;
  top: 50%;
  left: 50%;
  border-radius: inherit;
  width: 0.375em;
  height: 0.375em;
  transform: translate(-50%, -50%) scale(0);
  background-color: #fff;
  opacity: 0;
  filter: drop-shadow(0 1px 1px rgb(0 0 0 / 0.2));
  transition-property: transform, opacity;
  transition-duration: 0.2s;

  .radio-input:checked + .radio > & {
    transform: translate(-50%, -50%) scale(1);
    opacity: 1;
  }
}

.button {
  border-radius: 6px;
  padding: 8px 16px;
  background-color: #5371f4;
  background-image: url("https://assets.codepen.io/4175254/terrazzo-blue.svg");
  box-shadow: (
    inset 0 2px 2px rgb(255 255 255 / 0.4),
    inset 0 -2px 1px rgb(0 0 0 / 0.1),
    0 1px 2px rgb(0 0 0 / 0.2),
    0 2px 4px rgb(0 0 0 / 0.1)
  );
  text-align: center;
  font-weight: 500;
  color: #fff;
  text-shadow: 0 1px rgb(0 0 0 / 0.2);
  transition-property: transform;
  transition-duration: 0.2s;

  &:active {
    transform: scale(0.96);
  }
}

.slider-wrapper {
  --slider-height: 0.375em;
  --slider-value: 0;

  display: flex;
  align-items: center;
  position: relative;
  border-radius: 3.125em;
  width: 100%;
  box-shadow: inset 0 0 0 1px #ebebf5;
  --slider-color: #1664e4;
}

.slider-track {
  display: flex;
  align-items: center;
  position: relative;
  border-radius: inherit;
  height: var(--slider-height);
  width: calc(100%);
  -webkit-mask-image: linear-gradient(
    to right,
    white 0 calc(var(--slider-value) * 1%),
    transparent calc(var(--slider-value) * 1%) 100%
  );
  mask-image: linear-gradient(
    to right,
    white 0 calc(var(--slider-value) * 1%),
    transparent calc(var(--slider-value) * 1%) 100%
  );
  background-color: #5371f4;
  background-image: url("https://assets.codepen.io/4175254/terrazzo-blue.svg");
  background-size: 60px;
  box-shadow: (
    inset 0 2px 2px rgb(255 255 255 / 0.4),
    inset 0 -2px 1px rgb(0 0 0 / 0.1),
    0 1px 2px rgb(0 0 0 / 0.2),
    0 2px 4px rgb(0 0 0 / 0.1)
  );
}

.slider-input {
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  position: absolute;
  z-index: 1;
  top: 0;
  left: 50%;
  transform: translate(-50%);
  border-radius: inherit;
  width: calc(100% + 0.875em);
  height: 100%;
  opacity: 0;
  cursor: pointer;

  @mixin thumb {
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    border-radius: 50%;
    padding: 0.5em;
    width: 1.25em;
    height: 1.25em;
  }

  &::-webkit-slider-thumb {
    @include thumb;
  }

  &::-moz-range-thumb {
    @include thumb;
  }
}

.slider-thumb {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  left: calc(
    var(--slider-value) / 100 * (100% - var(--slider-height)) +
      var(--slider-height) / 2
  );
  transform: translateX(-50%);
  border-radius: 50%;
  width: 1.25em;
  height: 1.25em;
  background-color: #fff;
  box-shadow: (
    inset 0 2px 2px rgb(255 255 255 / 0.4),
    inset 0 -2px 1px rgb(0 0 0 / 0.1),
    0 1px 2px rgb(0 0 0 / 0.2),
    0 2px 4px rgb(0 0 0 / 0.1)
  );
  pointer-events: none;

  // slider thumb top
  &::before {
    content: "";
    position: absolute;
    border-radius: inherit;
    width: 50%;
    height: 50%;
    background-color: #5371f4;
    background-image: url("https://assets.codepen.io/4175254/terrazzo-blue.svg");
    background-size: 60px;
    box-shadow: (
      inset 0 0 2px 2px rgb(0 0 0 / 0.2),
      inset 0 2px 2px rgb(255 255 255 / 0.4),
      inset 0 -2px 1px rgb(0 0 0 / 0.1),
      0 1px 2px rgb(0 0 0 / 0.2),
      0 2px 4px rgb(0 0 0 / 0.1)
    );
  }
}
